personal_api_settings.py
.vscode/*
*.csv
ynab/models/__pycache__/*
ynab/ynab/__pycache__/*
ynab/__pycache__/*
__pycache__/*
api_settings.py
*settings.py*
sync_accounts.1.py
bash_script.sh
api_settings_temp.py
api_settings.live.py
.gitignore
*/*.pyc
*.pyc
sync_accounts.log
.coverage
coverage.xml
workspace.code-workspace
log/*.json
